{
  "presets": [[
    "@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "targets": {
        "chrome": "60",
        "safari": "10",
        "ios": "10"
      }
    }],
    "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "macros",
    "react-hot-loader/babel"
  ],
  "sourceType": "unambiguous"
}
